<div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-start mb-0">User Asset</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form">
                            <input type="hidden" name="assetId" value="<%= asset._id%>">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="amount">amount USDT</label>
                                        <input type="number" id="amountUSDT" class="form-control" name="amountUSDT" value="<%= asset.amountUSDT%>"/>
                                        <p class="error error-amount text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="profit">amount Ton</label>
                                        <input type="number" id="amountToken" class="form-control" name="amountToken" value="<%= asset.amountToken%>"/>
                                        <p class="error error-directProfit text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="referralProfit">amount Referral</label>
                                        <input type="number" id="amountReferral" class="form-control" name="amountReferral" value="<%= asset.amountReferral%>"/>
                                        <p class="error error-networkProfit text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="button" class="btn btn-primary me-1" id="submit-btn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/update-asset`,
            method: 'post',
            data: {
                assetId:$("input[name*='assetId']").val(),
                amountUSDT: $("input[name*='amountUSDT']").val(),
                amountToken: $("input[name*='amountToken']").val(),
                amountReferral: $("input[name*='amountReferral']").val(),
            }
        }
        ajax(form)
    })
</script>