<div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-start mb-0">Setting</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="amount">Force Withdraw</label>
                                        <input type="text" id="amount" class="form-control" name="amount"/>
                                        <p class="error error-amount text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary me-1" id="estimate-submit-btn">Submit
                                    </button>
                                </div>
                            </div>
                        </form>

                        <form action="" class="mt-5 d-none" id="force-form">
                            <div class="row">
                                <p>Total amount is <span id="total"></span> USDT and admin balance is <span id="balance"></span> USDT</p>
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <input type="hidden" id="amount" class="form-control amount" name="final_amount"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary me-1" id="force-submit-btn">Continue
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#estimate-submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/estimate`,
            method: 'post',
            data: {
                amount: $("input[name*='amount']").val(),
            }
        }
        ajax(form,setResult)
    })

    function setResult(data) {
        $('#force-form').removeClass('d-none')
        $('#total').text(data.data.total)
        $('#balance').text(data.data.balance)
        $('.amount').val(data.data.amount)
    }

    $('#force-submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/force-withdraw`,
            method: 'post',
            data: {
                amount: $("input[name*='final_amount']").val(),
            }
        }
        ajax(form)
    })
</script>