<div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-start mb-0">Setting</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="totalInvest">tokenPrice</label>
                                        <input type="text" id="tokenPrice" class="form-control" name="tokenPrice"
                                               value="<%= tokenPrice.field %>"/>
                                        <p class="error error-totalInvest text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary me-1" id="submit-btn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="mineFee">mineFee</label>
                                        <input type="text" id="mineFee" class="form-control" name="mineFee" value="<%= mineFee.field %>"/>
                                        <p class="error error-dailyProfit text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary me-1" id="profit-submit-btn">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="withdrawAddress">Withdraw Address</label>
                                        <input type="text" id="withdrawAddress" class="form-control" name="withdrawAddress" value="<%=withdrawAddress.field%>"/>
                                        <p class="error error-withdrawAddress text-danger" style="font-size: 14px"></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary me-1" id="address-submit-btn">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/setting`,
            method: 'post',
            data: {
                tokenPrice: $("input[name*='tokenPrice']").val()
            }
        }
        ajax(form)
    })

    $('#profit-submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/edit-profit`,
            method: 'post',
            data: {
                mineFee: $("input[name*='mineFee']").val(),
            }
        }
        ajax(form)
    })

    $('#main-profit-submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/edit-main-profit`,
            method: 'post',
            data: {
                mainProfit: $("input[name*='mainProfit']").val(),
            }
        }
        ajax(form)
    })

    $('#address-submit-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/admin/edit-withdraw-address`,
            method: 'post',
            data: {
                withdrawAddress: $("input[name*='withdrawAddress']").val(),
            }
        }
        ajax(form)
    })
</script>