<div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-start mb-0">Transactions</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row my-3">
            <div class="col-12">
                <form action="/admin/transactions" method="get" class="form">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="email">telegramId</label>
                                <input type="text" id="telegramId" class="form-control" name="telegramId"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="address">Address</label>
                                <input type="text" id="address" class="form-control" name="address"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="txHash">TX Hash</label>
                                <input type="text" id="txHash" class="form-control" name="txHash"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="status">Status</label>
                                <select class="form-select" id="status" name="status">
                                    <option value="">All</option>
                                    <option value="0">new</option>
                                    <option value="1">confirmed</option>
                                    <option value="2">rejected</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="type">Type</label>
                                <select class="form-select" id="type" name="type">
                                    <option value="">All</option>
                                    <option value="deposit">deposit</option>
                                    <option value="withdraw">withdraw asset</option>
                                    <option value="withdrawTON">withdrawTON</option>
                                    <option value="referral">referral</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2 col-12 my-auto">
                            <button type="button" class="btn btn-primary" id="filter-btn">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 mt-3">
                <button type="button" class="btn btn-primary" id="delete-btn">Delete All</button>
            </div>
        </div>
        <!-- Striped rows start -->
        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped" data-toggle="data-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>telegramId</th>
                                <th>Address</th>
                                <th>Amount</th>
                                <th>tx Hash</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped rows end -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#delete-btn').click(function (e){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    let ids=[]
                    let inputs=$('.trans-id')
                    for(let i = 0; i < inputs.length; i++){
                        ids.push($(inputs[i]).val());
                    }

                    let form = {
                        isObject: true,
                        action: `/admin/delete-all`,
                        method: 'post',
                        data: {
                            ids
                        }
                    }
                    ajax(form)
                }
            })
        })

        let page = 1
        const limit = 10

        $('#filter-btn').click(function (e) {
            e.preventDefault()
            let data = {
                telegramId: $("input[name*='telegramId']").val(),
                address: $("input[name*='address']").val(),
                txHash: $("input[name*='txHash']").val(),
                type: $("select[name*='type']").find(':selected').val(),
                status: $("select[name*='status']").find(':selected').val(),
            }
            $('#tbody').empty()
            page = 1
            loadData(data.telegramId, data.address, data.txHash, data.type, data.status)
        })

        function loadData(telegramId, address, txHash, type, status) {
            console.log('load data function')
            $.get('/admin/get-transactions', {page, limit, telegramId, address, txHash, type, status}, function (data) {
                if (data.length > 0) {
                    data.forEach(function (item) {
                        console.log(item)
                        let status = {}
                        switch (item.status) {
                            case 0:
                                status = {class: "info", status: "new"}
                                break
                            case 1:
                                status = {class: "success", status: "confirmed"}
                                break
                            case 2:
                                status = {class: "danger", status: "rejected"}
                                break
                        }
                        let txHash = ''
                        if (item.txHash && item.txHash.length > 0)
                            txHash += `<small class="tooltip-address__text tooltiptop-tx-${item._id}">tx Hash copied!</small>
                        <p style="cursor: pointer"
                            onclick="copyText('${item.txHash}','tx-${item._id}')">${item.txHash.slice(0, 5)}
                            ...${item.txHash.slice(-5)}</p>`

                        else
                            txHash += ' - '

                        $('#tbody').append(`
                  <tr>
                    <input type="hidden" class="trans-id" value="${item.telegramId}">
                    <td>#</td>
                    <td>
                        <small class="tooltip-address__text tooltiptop-email-${item._id}">telegramId copied!</small>
                        <p style="cursor: pointer"
                           onclick="copyText('${item.telegramId}','email-${item._id}')">${item.telegramId}</p>
                    </td>
                    <td>
                         <small class="tooltip-address__text tooltiptop-address-${item._id}">address copied!</small>
                         <p style="cursor: pointer"
                            onclick="copyText('${item.address}','address-${item._id}')">${item.address.slice(0, 5)}
                                ...${item.address.slice(-5)}</p>
                    </td>
                    <td>${item.amount}</td>
                    <td>${txHash}</td>
                    <td><span class="text-${item.type === 'withdraw asset' ? 'info' : 'primary'}">${item.type}</span></td>
                    <td><span class="badge bg-${status.class} me-1">${status.status}</span></td>
                    <td>${new Date(item.updatedAt).toISOString().replace(/T/, ' ').replace(/\..+/, '')}</span></td>
                  </tr>
                `)
                    })
                    page++
                }
            })
        }

        $(document.body).on('touchmove', scroll); // for mobile
        $(window).on('scroll', scroll)

        function scroll() {
            if ($(window).scrollTop() + window.innerHeight >= document.body.scrollHeight) {
                let telegramId = $("input[name*='telegramId']").val()
                let address = $("input[name*='address']").val()
                let txHash = $("input[name*='txHash']").val()
                let type = $("select[name*='type']").find(':selected').val()
                let status = $("select[name*='status']").find(':selected').val()
                loadData(telegramId, address, txHash, type, status)
            }
        }

        loadData()
    })
</script>
