<div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-start mb-0">Users</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row my-3">
            <div class="col-12">
                <form class="form">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="email">telegramId</label>
                                <input type="text" id="telegramId" class="form-control" name="telegramId"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="password">address</label>
                                <input type="text" id="address" class="form-control" name="address"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="address">username</label>
                                <input type="text" id="username" class="form-control" name="username"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="inviteCode">code khodesh</label>
                                <input type="text" id="inviteCode" class="form-control" name="inviteCode"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="registerCode">code sargrouh</label>
                                <input type="text" id="registerCode" class="form-control" name="registerCode"/>
                            </div>
                        </div>
                        <div class="col-md-2 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="registerCode">amountUSDT</label>
                                <input type="text" id="amountUSDT" class="form-control" name="amountUSDT"/>
                            </div>
                        </div>

                        <div class="col-md-2 col-12 my-auto">
                            <button type="button" class="btn btn-primary" id="filter-btn">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Striped rows start -->
        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <span class="text-danger">totalAmount : <span class="amountUSDT">0</span> - totalTon:  <span class="totalTon">0</span> - totalReferral: <span class="totalReferral">0</span> - sendProfits: <span class="sendProfits">0</span></span>
                        <table id="datatable" class="table table-striped" data-toggle="data-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>telegramId</th>
                                <th>address</th>
                                <th>username</th>
                                <th>code khodesh</th>
                                <th>code sargrouh</th>
                                <th>amount USDT</th>
                                <th>amount Ton</th>
                                <th>amount referral</th>
                                <th>referral count</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped rows end -->
    </div>
</div>

<script>
    $(document).ready(function () {
        let page = 1
        const limit = 10

        $('#filter-btn').click(function (e) {
            e.preventDefault()
            let data = {
                telegramId: $("input[name*='telegramId']").val(),
                address: $("input[name*='address']").val(),
                username: $("input[name*='username']").val(),
                inviteCode: $("input[name*='inviteCode']").val(),
                registerCode: $("input[name*='registerCode']").val(),
                amountUSDT: $("input[name*='amountUSDT']").val(),
            }
            $('#tbody').empty()
            page = 1
            loadData(data.telegramId, data.address, data.username, data.inviteCode, data.registerCode,data.amountUSDT)
        })

        function loadData(telegramId, address, username, inviteCode,registerCode, amountUSDT ) {
            $.get('/admin/get-users', {
                page,
                limit,
                telegramId,
                address,
                username,
                inviteCode,
                registerCode,
                amountUSDT
            }, function (data) {
                let users = data.users
                $('.amountUSDT').text(data.totalAmount+' '+ 'USDT')
                $('.totalTon').text(data.totalTon+' '+ 'TON')
                $('.totalReferral').text(data.totalReferral+' '+ 'USDT')
                $('.sendProfits').text(data.sendProfits+' '+ 'TON')
                if (users.length > 0) {
                    let new_num ;
                    users.forEach(function (item) {
                        // new_num++
                        let status = item.depositStatus ? {
                            class: "success",
                            status: "Deposit"
                        } : {class: "warning", status: "Not Deposit"}
                        $('#tbody').append(`
                  <tr>
                    <td class="num">${$('.num').length + 1}</td>
                    <td>
                        <span class="tooltip-address__text tooltiptop-email-${item._id}">telegramId copied</span>
                        <p title="click to copy" data-input="${item.telegramId}"
                            id="email-${item._id}"
                            onclick="copy_text(this.id,'email-${item._id}')"
                            style="cursor: pointer">${item.telegramId}</p>
                    </td>
                    <td>
                        <span class="tooltip-address__text tooltiptop-address-${item._id}">copied</span>
                        <p title="click to copy" data-input="${item.asset[0].wallet.address.base58}"
                            id="user-${item._id}"
                            onclick="copy_text(this.id,'address-${item._id}')"
                            style="cursor: pointer">${item.asset[0].wallet.address.base58.slice(0, 3)}
                            ...${item.asset[0].wallet.address.base58.slice(-3)}</p>
                    </td>
                    <td>${item.username}</td>
                    <td>${item.inviteCode}</td>
                    <td>${item.registerCode ?? '---'}</td>
                    <td>${item.asset[0].amountUSDT}</td>
                    <td>${item.asset[0].amountToken}</td>
                    <td>${item.asset[0].amountReferral ? item.asset[0].amountReferral : 0}</td>
                    <td>${item.referrals }</td>
                    <td>${new Date(item.asset[0].createdAt).toISOString().replace(/T/, ' ').replace(/\..+/, '')}</td>
                    <td>
                        <a href="/admin/edit/${item.asset[0]._id}"
                            class="btn btn-sm btn-success">Edit</a>
                    </td>
                  </tr>
                `)
                    })
                    page++
                }
            })
        }

        $(document.body).on('touchmove', scroll); // for mobile
        $(window).on('scroll', scroll)

        function scroll() {
            if ($(window).scrollTop() + window.innerHeight >= document.body.scrollHeight) {
                let telegramId = $("input[name*='telegramId']").val()
                let address = $("input[name*='address']").val()
                let username = $("input[name*='username']").val()
                let inviteCode = $("input[name*='inviteCode']").val()
                let registerCode = $("input[name*='registerCode']").val()
                let amountUSDT = $("input[name*='amountUSDT']").val()
                loadData(telegramId, address, username, inviteCode,registerCode, amountUSDT)
            }
        }

        loadData()
    })
</script>