<!doctype html>
<html class="loading dark-layout" lang="en" dir="ltr">

<%- include("../header.ejs") %>

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click"
      data-menu="vertical-menu-modern" data-col="blank-page">

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <%- body %>
</div>

<%- include("../footer.ejs") %>

</body>

</html>