<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <div class="auth-wrapper auth-basic px-2">
            <div class="auth-inner my-2">
                <% if(error && error.error){ %>
                <div class="alert alert-success p-2"><%=error.error[0]%></div>
                <% } %>
                <!-- Register basic -->
                <div class="card mb-0">
                    <div class="card-body">
                        <a href="https://extrememine.com" class="brand-logo">
                            <img src="../../../app-assets/images/logo.png" alt="" style="height: 75px;">
                        </a>
                        <h4 class="card-title mb-1 text-center">Login</h4>

                        <form class="auth-register-form mt-2" action="/login" method="POST">
                            <div class="mb-1">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email"
                                       name="email"
                                       aria-describedby="email" tabindex="1" autofocus/>
                                <p class="error-email text-danger" style="font-size: 14px"></p>
                            </div>

                            <div class="mb-1">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="login-password">Password</label>
                                </div>
                                <div class="input-group input-group-merge form-password-toggle">
                                    <input type="password" class="form-control form-control-merge" id="login-password" name="password" tabindex="2" aria-describedby="login-password" />
                                    <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    <p class="error-password text-danger" style="font-size: 14px"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha"
                                     data-sitekey="6LcsLoomAAAAAH7wfHhSJ07hN16N__5bVH7z1kOc"></div>
                                <p class="error-recaptcha text-danger" style="font-size: 14px"></p>
                            </div>

                            <button type="button" class="btn btn-primary w-100 mt-3" tabindex="5" id="login-btn">Sign
                                in
                            </button>
                        </form>

                        <p class="text-center mt-2">
                            <span>Don’t have an account?</span>
                            <a href="/register">
                                <span>sign up</span>
                            </a>
                        </p>

                        <p class="text-center mt-2">
                            <a href="/forget-password">
                                <span>Forget Password?</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /Register basic -->
            </div>
        </div>

    </div>
</div>
<script>
    $('#login-btn').click(function (e) {
        e.preventDefault()
        let form = {
            isObject: true,
            action: `/login`,
            method: 'post',
            data: {
                email: $("input[name*='email']").val(),
                password: $("input[name*='password']").val(),
                "g-recaptcha-response": $("textarea[name*='g-recaptcha-response']").val(),
            }
        }
        ajax(form)
    })
</script>