<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">
            <div class="misc-inner p-2 p-sm-3">
                <div class="w-100 text-center">
                    <h1 class="mb-1">500</h1>
                    <h2 class="mb-1">Internal Server Error 🕵🏻‍♀️</h2>
                    <p class="mb-2">Oops! 😖 There is a server error.Please try later</p>
                    <img class="img-fluid mt-5" src="../app-assets/images/error-dark.svg" alt="Error page"/>
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>