<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper">
            <div class="misc-inner p-2 p-sm-3">
                <div class="w-100 text-center">
                    <h1 class="mb-1">Sorry!</h1>
                    <h2 class="mb-1">This activation link has expired. Login again to get the new link.</h2>
                    <div class="mt-3">
                        <a href="/login" class="btn btn-lg btn-primary">Back to Login</a>
                    </div>
                    <img class="img-fluid mt-5" src="../app-assets/images/error-dark.svg" alt="Error page"/>
                </div>
            </div>
        </div>
        <!-- / Error page-->
    </div>
</div>