.tooltip-address__text {
    /*position: absolute;*/
    background-color: #232323;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 14px;
    left: 50%;
    top: -70px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.tooltip-address__text.active {
    top: -50px;
    visibility: visible;
    opacity: 1;
}

.tooltip-address__text::after {
    content: '';
    /*position: absolute;*/
    left: 50%;
    top: 37px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: #232323 transparent transparent transparent;
}

@media (max-width: 772px) {
    .second{
        left: 0 !important;
        top: 0 !important;
        height: 19rem !important;
    }
}