<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mx-auto">
                <a class="navbar-brand" href="/">
                    <img src="../../../app-assets/images/logo.png" alt="" style="height: 75px;">
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a class="d-flex align-items-center" href="/admin/dashboard"><i
                            data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Dashboard</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/admin/users"><i
                            data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Users</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/admin/transactions"><i
                            data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Transactions</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/admin/setting"><i
                            data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Setting</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/admin/force-withdraw"><i
                            data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Force Withdraw</span></a>
            </li>
        </ul>
    </div>
</div>